# Python
scraper/venv/
scraper/__pycache__/
scraper/*.pyc
scraper/.env

# Node
backend/node_modules/
backend/.env
backend/dist/

# Next.js
frontend/.next/
frontend/node_modules/
frontend/.env
frontend/.env.local

# Shared
.DS_Store
*.log\


Xpo_Tech_Candidate_Assessment.docx.pdf
news-pulse_docs.md
Combine_all_md.py

